@import url(fonts/fira/fira.css);
@import url(fonts/Proxima-Nova/proxima-nova.css);

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

body{
	background: #ccc;
	font-family: fira_sanstwo;
	font-size: 28px;
}